doctype html
html
  head
    link(rel='stylesheet' href='/stylesheets/changelog.css')
    style.
      #version_num {
        color: #3e3e3e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        margin: 0;
        position: fixed;
        text-align: center;
        top: calc(50vh + 15rem);
        width: 100vw;
      }

  body
    nav#sidebar
      button.HOME(onclick="location.href = '/'") MAIN MENU
    #container
      #2_5_0.version(data-for="Web")
        .content
          h1 Website Version 2.5.0
          h2 Added: 
          ul 
            li This changelog page 
            li Report generator on 
              a(href="/desktop/data/reports") /desktop/data/reports
            li Standby information on 
              a(href="/mobile") /mobile
            li Standby settings window on 
              a(href="/desktop") /desktop
          h2 Updated: 
          ul 
            li Fixed the download buttons at 
              a(href="/desktop/data/reports") /desktop/data/reports
            li Back-end reliability improvements 
      #2_1_2.version(data-for="Db")
        .content
          h1 Database Version 2.1.3
          h2 Updated: 
          ul 
            li Processed emails will be permanently removed instead of marked as read.
      #bug_tracker
        .content
          h1 Nothing to see here (yet)
          h2 If you can't track the bug, it doesn't exist.

    script.
      const sidebar = document.getElementById("sidebar");
      document.querySelectorAll('.version').forEach(element => {
        sidebar.innerHTML += `<a href=#${element.id}>${element.dataset.for} v${element.id.replaceAll("_",".")}</a>`;
      });
      sidebar.innerHTML += `<a href=#bug_tracker>Bug Tracker</a>`;