doctype html
html
  head
    base(href=location.href.split("/")[0]+":"+port)
    link(rel='stylesheet' href='/stylesheets/changelog.css')
    style.
      

  body
    nav#sidebar
      button.HOME(onclick="location.href = '/'") MAIN MENU
    #container
      #bug_tracker.tab
        .content
          h1 Issue Tracker
          .table
            .body
          div(style="margin-top: 100px; font-weight: bold;") Report or update an issue:
            br
            textarea#report_text(name="message" style="color: white; width: 100%; margin-top: 2px; min-height: 4rem; translate: -2px; background-color: var(--bg-color-alt); font-family: Arial, Helvetica, sans-serif; resize: vertical;" placeholder="Describe the issue as detailed as possible.\n\nIf you want to update an existing issue, please note the id as well.\n(The id can be found below the title and always directly follows \"#\")")
            button#report_submit(onclick='submitReport(document.getElementById("report_text").value)') Submit
            h6(style="display: inline-block; width: 10px; white-space: nowrap; margin: 0")
              span#result(style="font-size: 0.9rem; margin-left: 10px; font-weight: normal;") Note: Your report will be reviewed manually before it is shown on this page.

    #data_storage(data-port=port data-version=version style="display: none")
    script(src="/javascripts/changelog.js")