doctype html
html
  head
    link(rel='stylesheet' href='/stylesheets/main.css')
    style.
      #version_num {
        color: #3e3e3e;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        margin: 0;
        position: fixed;
        text-align: center;
        top: calc(50vh + 15rem);
        width: 100vw;

        &:hover {
          filter: brightness(1.5);
        }
      }

  body
    #tiles
      a.tile(href='/desktop')
        .tile-content(style="background-image: url(/images/DesktopTile.jpg); background-size: contain;")
      a.tile(href='/mobile')
        .tile-content(style="background-image: url(/images/MobileTile.jpg); background-size: contain;")
      a.tile(href='/settings')
        .tile-content(style="background-image: url(/images/SettingsTile.jpg); background-size: contain;")

    h6#version_num(onclick="location.href='/changelog'") Display Version #{version}

    script(src='/javascripts/effects.js')
    script.
      if (/Mobi|Android/i.test(navigator.userAgent)) {
        location.href = "/mobile"
      }