* {
    user-select: none;
}

.t-stress {color: var(--text-color2)}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color2);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    width: fit-content;
}

h1 {
    color: white;
    font-size: 7rem;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
}
h2 {font-size: 1.5rem;}
h3 {
    color: white;
    font-size: 1.5rem;
    margin: 5px 0 0 0;
}
h5 {color: var(--text-color1)}

/* Tile States. */
.kiosk.urgency_-1 {background-image: url(/images/urgency-1.png);}
.kiosk.urgency_null {background-image: url(/images/urgencynull.png);}
.kiosk.urgency_0 {background-image: url(/images/urgency0.png);}
.kiosk.urgency_1 {background-image: url(/images/urgency1.png);}
.kiosk.urgency_2 {background-image: url(/images/urgency2.png);}
.kiosk.urgency_3 {background-image: url(/images/urgency3.png);}
.kiosk.urgency_4 {background-image: url(/images/urgency4.png);}
.kiosk.urgency_5 {background-image: url(/images/urgency5.png);}
.kiosk.urgency_12 {background-image: url(/images/urgency12.png);}
.kiosk.urgency_42 {background-image: url(/images/urgency42.png);}
/* ------------ */

body {
    background-color: var(--gray20);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: filter 15s ease-in;
    width: 100vw;
}

input[type=text], input[type=number] {
    background-color: var(--gray40);
    border: none;
    color: var(--text-color2);
    font-size: 1.2rem;
    margin: 0 10px 0 10px;
    padding: 2px 5px 2px 5px;
    transform: translate(0, -3px);
    width: 15.75rem;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

nav {
    background-color: var(--gray30);
    border-bottom: var(--border);
    height: 2.5rem;
    position: relative;
    width: 100vw;
}

p {color: var(--text-color1)}

select {
    background-color: var(--gray30);
    border: none;
    color: var(--text-color2);
    font-size: 1.2rem;
    margin: 0 0 -6px 0;
    padding: 2px 5px 2px 5px;
    transform: translate(0, -3px);
    width: 15.75rem;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

table {
    font-size: 1.2rem;
    height: min(fit-content, calc(90vh - 2.5rem));
    margin: 5px;
    text-indent: 10px;
    white-space: nowrap;
    width: calc(100% - 10px);

    & th {color: var(--text-color2)}
    & td {color: var(--text-color1)}
    & .name {
        padding: 2px 30px 2px 0;
        width: 1px;
    }
    & .note {
        font-size: 2.5rem;
    }
}

thead, tbody {
    overflow: scroll;
    background-color: var(--gray30);
    height: fit-content;
}

td, th, tr {
    height: 10px;
}

.app tr:nth-child(odd), .hook tr:nth-child(odd) {
    background-color: var(--gray40);
}

button.HOME {
    aspect-ratio: 6/1;
    background: url(/images/HomeButton.png) no-repeat;
    background-color: var(--gray40);
    background-size: cover;
    border: 0;
    color: var(--text-color2);
    font-size: 1rem;
    height: 80%;
    margin: 0.25rem;
    position: relative;
    text-align: start;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

.app {
    background-color: var(--gray20);
    border: var(--border);
    border-radius: 3px;
    overflow: auto;
    position: fixed;
    resize: both;
    transition: opacity 0.3s ease;

    .header {
        background-color: var(--gray30);
        border-bottom: var(--border);
        color: var(--text-color1);
        font-weight: bold;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        width: 100%;

        & button {
            aspect-ratio: 1;
            background-color: var(--gray10);
            border: var(--border);
            color: var(--text-color1);
            height: 1.5rem;
            margin: 0.25rem;
            position: absolute;
            right: 0;
        }

        & button:hover {filter: invert(0.15)}
    }

    &#app_R {
        & .flexBar button {translate: 0 -3px}
        & input {margin: 0}
    }

    .flexBar button {
        /*background: url("/images/ConfirmButton.png") no-repeat;*/
        background-color: var(--gray50);
        background-position: center;
        background-size: cover;
        border: 0;
        border-radius: 5px;
        color: var(--text-color1);
        font-size: 1rem;
        height: 2rem;
        padding: 3px 15px 3px 15px;
        width: fit-content;

        &:hover {
            -webkit-filter: invert(0.1);
            cursor: pointer;
            filter: invert(0.1);
        }
    }

    & p {
        color: var(--text-color1);
        font-size: 2rem;
        margin: 0 10px 0 10px;
        white-space: nowrap;
        width: fit-content;
    }
}

.banner, .map {
    aspect-ratio: 3;
    background-position: center;
    background-size: cover;
    border: var(--border);
    margin-top: 20px;
    opacity: 0;
    translate: 0 -100px;
    overflow: hidden;
    transition: translate 0.3s linear;
}

.banner {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--gray20);
    background-image: url(/images/Hal_1A.BANNER.jpg);
}

.cardView {
    display: flex;
    flex-wrap: wrap;
}

.content {
    background-color: var(--gray10);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    width: 100%;

    & div {
        padding: 15px;
    }

    & div h5 {
        margin: 1px 0 1px 0;
        width: 100%;
    }
}

.contextMenu {
    background-color: var(--fade180);
    border: var(--border);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease, left 0.2s ease, top 0.2s ease;
    z-index: 3;
}

.contextMenu button {
    background: none;
    border: none;
    color: var(--text-color2);
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 20px 5px 20px;
    text-align: start;
    white-space: nowrap;
    
    &.title {
        color: var(--text-color1);
        padding-bottom: 0;
        text-align: center;
    }

    &:hover:not(.title, [name=remove], [name=ig_app].ignore) {
        background-color: rgba(255, 255, 255, 0.2);
        filter: brightness(1.2);
    }

    &[name=remove]:hover, &[name=ig_app].ignore:hover {
        background-color: rgba(240, 83, 83, 0.3);
        filter: brightness(1.2);
    }

    &[name=status]:hover {
        text-decoration: underline;
    }
}

.data {
    background-color: var(--gray20);
    border-left: var(--border);
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    margin: 0;
    -ms-overflow-style: none;
    opacity: 0;
    overflow-y: auto;
    scrollbar-width: none;
    translate: 0 100px;
    transition: translate 0.3s linear;
    width: min(calc(100vh - 5rem / 1.5), 40rem);

    &::-webkit-scrollbar {display: none;}
}

.flexBar {
    align-items: center;
    color: var(--text-color1);
    display: flex;
    font-size: 1.2rem;
    white-space: nowrap;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    width: 100%;

    & h1:hover {
        filter: invert(0.5);
    }
}

.hook {
    align-items: center;
    background-color: var(--gray20);
    border: var(--border);
    border-radius: 5px;
    display: inline-flex;
    height: calc(var(--footer-height) - 0.75rem);
    margin: 0.25rem;
    min-width: fit-content;
    padding: 0 5px 0 5px;
    position: absolute;
    transition: width 0.3s ease, filter 0.3s ease;
    white-space: nowrap;
    width: 0;

    & p {
        font-size: 1.7rem;
        margin: 0;
    }

    .flexBar input {
        transform: translate(0, 0);
    }

    .flexBar button {
        /*background: url("/images/ConfirmButton.png") no-repeat;*/
        background-color: var(--gray50);
        background-position: center;
        background-size: cover;
        border: 0;
        border-radius: 5px;
        color: var(--text-color1);
        font-size: 1rem;
        height: 100%;
        padding: 3px 15px 3px 15px;
        width: fit-content;

        &:hover {
            -webkit-filter: invert(0.1);
            cursor: pointer;
            filter: invert(0.1);
        }
    }
}

.hook_static {
    align-items: center;
    background-color: var(--gray20);
    border: var(--border);
    border-radius: 5px;
    display: inline-flex;
    height: calc(var(--footer-height) - 0.75rem);
    margin: 0.25rem;
    min-width: fit-content;
    padding: 0 5px 0 5px;
    position: absolute;
    transition: width 0.3s ease, filter 0.3s ease;
    white-space: nowrap;
    width: 0;

    & p {
        font-size: 1.7rem;
        margin: 0;
    }

    .flexBar input {
        transform: translate(0, 0);
    }

    .flexBar button {
        /*background: url("/images/ConfirmButton.png") no-repeat;*/
        background-color: var(--gray50);
        background-position: center;
        background-size: cover;
        border: 0;
        border-radius: 5px;
        color: var(--text-color1);
        font-size: 1rem;
        height: 100%;
        padding: 3px 15px 3px 15px;
        width: fit-content;

        &:hover {
            -webkit-filter: invert(0.1);
            cursor: pointer;
            filter: invert(0.1);
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    width: min(calc(100vh - 5rem / 1.5), 40rem);
}

.kiosk {
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    height: var(--tile-size);
    margin: 0;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    transition: opacity 3s ease;

    &> p {
        color: white;
        font-weight: bold;
        font-size: var(--tag-size);
        height: 100%;
        line-height: var(--tile-size);
        margin: 0 0 0 50%;
        opacity: var(--identifier-opacity);
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        translate: -50% 0;
        width: fit-content;
    }

    &:hover> p {
        opacity: calc(1 * (1 - var(--identifier-opacity)) + 0.3 * var(--identifier-opacity));
    }
}

.location {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, var(--tile-size));

    &> h2 {
        color: white;
        display: var(--label-locations);
        font-size: calc(var(--tile-size) / 2);
        grid-column: 2;
        height: fit-content;
        justify-self: end;
        margin: auto 0 auto 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        transition: opacity 3s ease;
        white-space: nowrap;
    }
}

.map {
    visibility: hidden;
}

.navLink {
    color: var(--text-color1);
    display: inline-block;
    margin: 0 20px 0 20px;
    text-decoration: none;
    width: fit-content;

    &.selected {
        color: var(--text-color2);
        &::after {background-color: var(--text-color2)}
    }

    &:hover {
        color: var(--text-color2);
        &::after {background-color: var(--text-color2)}
    }
}

.navLink::after {
    background-color: var(--gray100);
    border-radius: 5px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    top: 2px;
    width: 100%;
}

.segment {
    border-bottom: var(--border);
    width: 100%;

    .flexBar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    & h3, h4 {
        color: var(--text-color2);
        margin: 10px 10px 5px 10px;
        overflow: hidden;
    }

    & h4 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    & h5 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 5px 10px 10px 10px
    }
}

.segment * {
    user-select: text;
}

.tooltip {
    bottom: 50px;
    display: none;
    left: 50%;
    position: fixed;
}

.tooltip-content {
    background-color: var(--gray60);
    border: var(--border);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
    color: var(--text-color1);
    font-size: var(--tag-size);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: calc(100% + 8px); /* Position above the element it's attached to */
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
    width: fit-content;
}

.tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--gray60) transparent transparent transparent;
    position: absolute;
    bottom: 0; /* Position at the bottom */
    left: calc(50% - 8px); /* Adjust horizontally */
    z-index: 2;
}

#alertBox {
    align-items: center;
    background-color: var(--gray40);
    border: var(--border);
    border-radius: 10px;
    box-shadow: 0px 10px 20px black;
    display: none;
    flex-direction: column;
    height: max-content;
    /*justify-content: start;*/
    left: 50vw;
    opacity: 0;
    padding: 15px 30px 15px 30px;
    position: fixed;
    top: 10rem;
    transform: translate(-50%, 0);
    transition: opacity 0.5s ease-in-out;
    width: max-content;
    z-index: 2;

    &> .blockActions {
        height: 100vh;
        position: fixed;
        top: -10rem;
        width: 100vw;
        z-index: -1;
    }
    &> .flexBar {
        justify-content: space-around;
        margin: 0 0 20px 0;
    }
    &> .flexBar button {
        /*background: url("/images/ConfirmButton.png") no-repeat;*/
        background-color: var(--gray80);
        background-position: center;
        background-size: cover;
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        height: 2rem;
        padding: 5px 25px 5px 25px;
        width: fit-content;

        &:hover {
            -webkit-filter: invert(0.1);
            cursor: pointer;
            filter: invert(0.1);
        }
    }
    &> h2 {
        font-size: 1.7rem;
        margin: 20px;
    }
    &> h4 {
        font-size: 1.2rem;
        margin: 0 20px 20px 20px
    }
}

#brightnessFilter {
    background-color: rgba(10, 10, 10, 0.5);
    height: 100vh;
    position: fixed;
    width: 100vw;
}

#container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    height: calc(100vh - 3rem);
    margin: -7.5rem 0 0 2rem;
    width: calc(100% - 4rem);
}

#display {
    height: calc(100vh - var(--footer-height));
    position: relative;
    width: 100vw;

    .bar {
        background: var(--fade180);
        height: 7rem;
        width: 100vw;
    }
}

#footer {
    align-items: center;
    background-color: var(--gray30);
    border-top: var(--border);
    bottom: 0;
    /*display: flex;*/
    height: var(--footer-height);
    /*justify-content: end;*/
    position: fixed;
    width: 100vw;
    z-index: 2;

    .appButton {
        aspect-ratio: 1;
        background-color: var(--gray10);
        border: var(--border);
        border-radius: 3px;
        color: var(--text-color1);
        font-size: 1.75rem;
        font-weight: bold;
        height: calc(var(--footer-height) - 0.5rem);
        transition: filter 0.3s ease;

        &:hover {filter: invert(0.1)}
        &.selected {filter: invert(0.2)}
        &:hover.selected {filter: invert(0.3);}
    }

    #app_5Button {
        line-height: 2rem;
    }

    .center {
        height: 3rem;
        left: 50%;
        margin: 0;
        position: absolute;
        translate: -50% 0;
    }

    & h6 {
        color: var(--alert-color);
        font-size: 1.5rem;
        left: 50%;
        line-height: 3rem;
        margin: 0;
        position: absolute;
        translate: -50% 0;
    }
}

#hookL {margin-left: 0}
#hookR {right: 0;}

#hookT1, #hookT1S {
    height: 80%;
    z-index: 1;
}
#hookT2, #hookT2S {
    height: 80%;
    right: 0;
    z-index: 1;
}

#hookT2S[name=gradient] {
    /* background: url(/images/Background.png); */
    background-size: cover;

    & p {
        color: white;
        padding: 0 5px 0 5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

        &:hover {
            font-weight: bold;
            /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); */
        }
    }

    & input {
        position: fixed;
        right: 0;
        visibility: hidden;
        width: 0;
    }
}

#login {
    aspect-ratio: 12/1;
    bottom: 0;
    display: none;
    height: 25px;
    justify-content: space-between;
    left: 0;
    margin: 5%;
    position: absolute;
    width: 17.75rem;
}

#login input {
    background-color: var(--gray40);
    border: 0;
    color: var(--text-color2);
    font-size: 1rem;
    text-align: start;
    width: 15.75rem;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

#login input[type=password] {width: calc(15.75rem);}
#login #loginButton {width: fit-content;}

#logout {
    aspect-ratio: 12/1;
    background-color: var(--gray40);
    border: 0;
    bottom: 0;
    color: var(--text-color1);
    display: none;
    font-size: 1rem;
    height: 25px;
    justify-content: space-between;
    left: 0;
    margin: 5%;
    padding-top: 3px;
    position: absolute;
    width: 17.75rem;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

#overlay {
    background-color: rgba(10, 10, 10, 0.8);
    display: none;
    gap: 20px;
    height: calc(100vh - 5rem);
    justify-content: center;
    opacity: 0;
    position: fixed;
    top: 2.5rem;
    transition: opacity 0.3s linear;
    width: 100vw;
    z-index: 2;

    & h1 {font-size: calc(min(calc(100vh - 5rem / 1.5), 40rem) / 8);}

    & h2 {
        border-bottom: var(--border);
        color: var(--text-color1);
        font-size: 3rem;
        margin: 20px 0 0 0;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}