h1 {
    color: var(--text-color1);
    font-size: 3rem !important;
    width: fit-content;
}

input[type=text] {
    transform: translate(0, 0) !important;
    width: 16rem !important;
}

input[type=email] {
    min-width: 15rem;
    transform: translate(0, 0) !important;
}

div[name=loading] {
    align-items: center;
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.border {
    background-color: var(--fade180);
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
}

.centered {
    padding: 50px;
}

.centered button, input[type=date] {
    background-color: var(--gray40);
    border: none;
    color: var(--text-color2);
    margin: 0;
    padding: 5px 5px 5px 5px;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

.centered button {
    font-size: 1.2rem;
    width: 15.75rem;
}

.file {
    background-color: var(--gray40);
    cursor: pointer;
    height: 2rem;
    overflow: hidden;
    padding: 10px 30px 10px 30px;
    position: relative;
    width: 15rem;

    & img.icon {
        aspect-ratio: 1;
        filter: invert(1);
        height: 2.4rem;
        left: 10px;
        position: absolute;
        top: calc(10px - 0.2rem);
    }

    & p {
        font-size: 1.2rem;
        height: 2rem;
        left: calc(20px + 2.4rem);
        line-height: 2rem;
        margin: 0;
        position: absolute;
        top: 10px;
    }

    & img:not(.icon) {
        aspect-ratio: 1;
        cursor: pointer;
        filter: invert(0.5);
        height: 1.6rem;
        right: 10px;
        position: absolute;
        top: 10px;
    }

    &:hover {
        background-color: var(--gray60);
    }
}

.flexBar {
    justify-content: center;
    gap: 20px;
}

.hidden {
    display: none;
}

.padded-hor {
    padding-left: 30px;
    padding-right: 30px;
}
.padded-ver {
    padding-bottom: 30px;
    padding-top: 30px;
}

#container {
    align-items: center;
    display: flex;
    gap: 0 !important;
    justify-content: start;
    left: -100vw;
    margin: -7.5rem 0 0 0;
    position: fixed;
    transition: left 1s ease;
    width: fit-content;
}

#container> div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#display {
    visibility: visible !important;

    .bar {visibility: hidden;}
}