form::after {
    background-color: var(--fade050);
    content: "";
    display: inline;
    height: 100%;
    left: 0;
    /*position: absolute;*/
    width: 100vw;
    z-index: -1;
}

input[type=submit] {
    background-color: var(--gray40);
    border: 0;
    color: var(--text-color1);
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 2px 7px 2px 7px;
    transform: translate(0, -3px);
    width: fit-content;

    &:hover {
        -webkit-filter: invert(0.1);
        cursor: pointer;
        filter: invert(0.1);
    }
}

input.gridTile {
    background-color: var(--gray40);
    border: 0;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    height: max-content;
    margin: 10px 0 0 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    width: 20%;

    &:hover {box-shadow: 0px 0px 10px white;}
}

#settingsInput {
    align-items: center;
    /*background-color: var(--fade050);*/
    display: none;
    height: calc(100vh - calc(2.5rem + var(--footer-height)));
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 2.5rem;
    transition: opacity 1s ease-in;
    width: 100vw;

    &> .flexBar {bottom: -10px; position: absolute;}
    & .filter {
        aspect-ratio: 1;
        background-color: var(--filter_background);
        border: solid 1px var(--text-color2);
        border-radius: 3px;
        filter: brightness(0.3);
        transition: filter 0.3s ease;
        width: 20px;

        &:hover {filter: brightness(0.7);}
        &.selected {filter: brightness(1);}
        &.selected:hover {filter: brightness(1.5);}
    }
    #tag_urgency4 {--filter_background: #f03e3e;}
    #tag_urgency3 {--filter_background: #f0853e;}
    #tag_urgency1 {--filter_background: #e8c048;}
    #tag_urgency2 {--filter_background: #b56fe9;}
    #tag_urgency0 {--filter_background: #4e69ee;}
    #tag_urgency-1 {--filter_background: #57c543;}
}

.flexBar {
    justify-content: center;
    margin-bottom: 10px;
}

input {
    color: var(--text-color1);
}

input[type=checkbox] {scale: 1.5;}
input[type=range] {width: 100%;}

.background_input {
    border: 2px dashed var(--gray100);
    padding: 10px;

    &> label {
        height: 100%;
        margin: -12px 0 0 -12px;
        position: absolute;
        width: 100%;
    }
}

.gridTile {
    background-color: var(--gray40);
    background-position: center;
    background-size: cover;
    border: var(--border);
    border-radius: 3px;
    box-sizing: border-box;
    height: max-content;
    margin: 10px 0 0 10px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    transition: box-shadow 0.3s ease;
    width: 20%;

    &:hover {
        box-shadow: 0px 0px 10px var(--text-color2);
        &.delete {box-shadow: 0px 0px 10px #f16262;}
    }
}

.progressBar {
    background-color: var(--gray100);
    height: 5px;
    margin: 0;
    transition: width 1s linear;
    width: 0;
}

#progressButton {
    padding: 10px 0 0 0;
    &> .progressBar {border-radius: 3px;}
}