:root {
    --gray10: rgb(32, 21, 1);
    --gray20: rgb(63, 50, 29);
    --gray30: rgb(100, 86, 40);
    --gray40: rgb(129, 109, 43);
    --gray45: rgb(150, 123, 34);
    --gray50: rgb(180, 154, 67);
    --gray60: rgb(177, 151, 66);
    --gray70: rgb(226, 190, 73);
    --gray80: rgb(221, 206, 70);
    --gray100: rgb(255, 243, 137);

    --fade050: rgba(0, 0, 0, 0.5);
    --fade180: rgba(10, 10, 10, 0.8);

    --text-color1: rgb(255, 245, 159);
    --text-color2: rgb(255, 255, 255);

    --link-color: rgb(76, 198, 255);
    --alert-color: rgb(255, 245, 159);

    --border: 1px solid var(--gray60);
    --footer-height: 3rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#settingsIcon {filter: invert(0.7);}

input::placeholder {
    color: var(--gray20);
}