:root {
    --gray10: rgb(19, 28, 36);
    --gray20: rgb(37, 56, 71);
    --gray30: rgb(40, 65, 85);
    --gray40: rgb(47, 82, 110);
    --gray45: rgb(51, 100, 139);
    --gray50: rgb(53, 113, 163);
    --gray60: rgb(70, 149, 214);
    --gray70: rgb(65, 139, 201);
    --gray80: rgb(77, 165, 239);
    --gray100: rgb(108, 183, 245);

    --fade050: rgba(0, 0, 0, 0.5);
    --fade180: rgba(10, 10, 10, 0.8);
    --fade250: rgba(37, 56, 71, 0.5);

    --text-color1: rgb(173, 218, 255);
    --text-color2: rgb(255, 255, 255);

    --link-color: rgb(76, 198, 255);
    --alert-color: rgb(173, 218, 255);

    --border: 1px solid var(--gray60);
    --footer-height: 3rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#settingsIcon {filter: invert(0.7);}