:root {
    --gray10: rgb(68, 24, 24);
    --gray20: rgb(96, 31, 31);
    --gray30: rgb(122, 39, 39);
    --gray40: rgb(173, 56, 56);
    --gray45: rgb(211, 68, 68);
    --gray50: rgb(196, 70, 70);
    --gray60: rgb(167, 74, 74);
    --gray70: rgb(219, 97, 97);
    --gray80: rgb(84, 132, 61);
    --gray100: rgb(117, 184, 85);

    --fade050: rgba(96, 31, 31, 0.5);
    --fade180: rgba(23, 44, 14, 0.8);
    --fade250: rgba(96, 31, 31, 0.5);

    --text-color1: rgb(181, 255, 147);
    --text-color2: rgb(255, 255, 255);

    --link-color: rgb(76, 198, 255);
    --alert-color: rgb(255, 255, 255);

    --border: 2px solid var(--gray80);
    --footer-height: 3rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.ui-icon {filter: brightness(2);}

input::placeholder {
    color: var(--text-color2);
}