#overlay.clickToClose
    .info
        #banner.banner.clickToClose
            h1.clickToClose
        #map1.map.clickToClose
    #devices.data
        h2 Connected Devices
    #applications.data
        h2 Applications
    #map2.map.clickToClose