:root {
    font-family: Arial, Helvetica, sans-serif;

    /* Colors */
    --text-color1: rgb(150, 150, 150);
    --text-color2: rgb(255, 255, 255);

    color: var(--text-color1);
    --default-background-color: rgba(20, 20, 20, 1);
    --background-color-1: rgba(40, 40, 40, 1);
    --background-color-2: rgba(60, 60, 60, 1);
    --background-color-3: rgba(80, 80, 80, 1);
    --table-row-color-1: rgba(30, 30, 30, 1);
    --table-row-color-2: rgba(40, 40, 40, 1);

    --button-hover-background-color: rgba(80, 80, 80, 1);
    --input-hover-background-color: rgba(50, 50, 50, 1);

    --link-color: rgb(76, 198, 255);
    --alert-color: rgb(240, 83, 83);

    /* Sizes */
    --header-height: 2.5rem;
    --footer-height: 3rem;

    /* Borders */
    --default-border-color: rgb(80, 80, 80);
    --default-border-type: solid;
    --default-border-width: 5px;
    --default-border: var(--default-border-width) var(--default-border-type) var(--default-border-color);

    --alt-border-color: rgb(60, 60, 60);
    --alt-border-type: solid;
    --alt-border-width: 3px;
    --alt-border: var(--alt-border-width) var(--alt-border-type) var(--alt-border-color);

    --input-border: var(--alt-border);

    /* Visor */
    --display-visor-color: rgba(10, 10, 10, 0.8);

    /* Other */
    --default-shadow-color: rgba(10, 10, 10, 0.5);
}

/* Alt. Button */
button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--text-color1)
}

/* Alt. Input/Select */
input:hover, select:hover {
    background-color: var(--input-hover-background-color);
    cursor: pointer;
}