a(href="/desktop/preferences")
  div
    i.ico(data-type="adjustments")
    span User Preferences
.dropdown(style="padding-bottom: 0;")
  div
    i.ico(data-type="folder")
    span Data Analytics
  .content(style="margin-top: 7px;")
    div
      a(href="/desktop/data/gradient")
        div
          i.ico(data-type="chart-bar")
          span Gradient Visualizer
    div
      a(href="/desktop/data/reports")
        div
          i.ico(data-type="document-text")
          span Report Generator
a(href="/desktop/data/timeline")
  div
    i.ico(data-type="clock")
    span Timeline