/* Main panel */
#settings {
    padding: 7px;
}



/* Settings Head */
#settings> .head {
    background-color: var(--background-color-3) !important;
}
#settings> .head:not(:nth-child(1)) {
    margin-top: 10px;
}
#settings> .head .settingsItem {
    padding: 2px 25px 2px 10px !important;
}
#settings> .head p {
    font-size: 2.7rem !important;
    font-weight: bold !important;
    padding: 0 20px;
}



/* Div representing each item */
#settings> div {
    background-color: var(--table-row-color-1);
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 2px;
    text-align: start;
}
#settings> div:nth-child(even) {
    background-color: var(--table-row-color-2);
}
#settings> div> span {
    translate: 10px;
}

.settingsItem {
    align-items: center;
    color: var(--text-color1);
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: space-between;
    padding: 15px 25px 15px 10px;
    text-align: start;
    text-indent: 1rem;
}
.settingsItem> * {
    color: var(--text-color1);
    margin-left: 1rem;
    text-indent: 0;
}
.settingsItem p {color: var(--text-color1) !important;}
.settingsItem> label, .settingsItem> span {
    align-self: center;
}
#settings> div> span, .settingsItem> span {
    font-size: 2rem;
    padding-bottom: 10px;
}



/* Input fields and containers */
input[type=checkbox] {
    scale: clamp(1, calc(var(--font-size-scale) * 1.5), 3);
    translate: -60%;
}
input[type=range] {
    scale: clamp(1, calc(var(--font-size-scale) * 1.5), 3);
    translate: -70%;
    width: 10rem;
}
input[type=number] {
    background-color: var(--background-color-1);
    border: var(--input-border);
    width: 15rem;
}

#settings select {border: var(--input-border);}
#settings select {
    background-color: var(--background-color-1);
    color: var(--text-color1);
    font-size: 3rem;
    min-width: 16rem;
    padding: 2px 7px 2px 7px;
    transform: translate(0, -3px);
    width: fit-content;
}